*{
    box-sizing: border-box;
}
.active{
    color: red;
}

.completed {
    color: gray;
    text-decoration: line-through;
}
.list {
    display: flex;
    flex-direction: row;
}


.list {
    cursor: pointer;
    font-size: 1.5em;
}

.danger {
    color: red;
}

.success {
    color: green;
}


